 .container {
    display: flex;
    flex-direction: row;             /* Arrange left and right containers horizontally */
    justify-content: space-between;  /* Ensure space between left and right containers */
    align-items: flex-start;         /* Align containers to the top */
    gap: 10px;                       /* Space between containers */
    padding: 20px;                   /* Padding around the entire container */
    margin: 10px auto;                  /* Center the container on the page */
}

/* Left container styling */
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;     /* Align the content to the top */
    align-items: center;
    padding-right: 10px;             /* Add padding to the right for spacing */
}

/* Right container styling */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

/* Flowchart image adjustments */
.description-container {
  
    margin-top: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 100px;
}

/* src/Project/ProjectDetails.css */

#title-text {
    font-size: 4.5rem;
    color: #3498db;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: none;
}

/* Styling for the project details text */
#project-details-text {
    font-size: 2rem;               /* Adjust the font size for readability */
    line-height: 1.5;                /* Increase line spacing for better readability */
    margin: 10px 100px;
}

.line {
    width: 100%;
    height: 2px; /* Adjust height for line thickness */
    background: linear-gradient(to right,
        #0000FF, /* Blue (cooler color) */
        #00FFFF, /* Cyan */
        #FFFF00, /* Yellow */
        #FF7F00, /* Orange */
        #FF0000  /* Red (warmer color) */
    );
    margin-top: 20px; /* Space above the line */
    margin-bottom: 20px; /* Space below the line */
}