/* Container to position the logos and line */
.top-right-logo-container {
    position: absolute;
    top: 1px; /* Reduced by 10% */
    right: 10px; /* Reduced by 10% */
    height: 65px; /* Reduced by 10% */
    display: flex;
    align-items: center; /* Vertically align logos and the line */
    gap: 8px; /* Reduced by 10% */
    z-index: 1000;
}

/* Top-right corner positioning for the first logo */
.top-right-logo-project-SV {
    width: auto; /* Adjust size as needed */
    height: 55px; /* Reduced by 10% */
}

/* Line between the logos */
.line-between-logos {
    width: 1.5px; /* Reduced by 10% */
    height: 60px; /* Reduced by 10% */
    background-color: rgb(28, 151, 172); /* Color of the line */
}

/* Top-right corner positioning for the second logo */
.top-right-logo-project-merai {
    width: auto; /* Adjust size as needed */
    height: 50px; /* Reduced by 10% */
}
