/* src/Project/css/Result.css */

/* Background container */
.result__background-result-container {
    background-image: 
        linear-gradient(145deg, rgba(0, 0, 0, 1) 28%, rgba(0, 0, 0, 0) 80%),
        url('../../Image/MDC.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;   /* Change to vh to ensure it scales with the viewport height */
    width: 100%;
    filter: brightness(0.9);
    position: relative;
    overflow: hidden;
    display: flex;            /* Use flex to handle content positioning */
    flex-direction: column;
    align-items: center;
}
  
/* Optional: Adding an overlay */
.result__background-result-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    z-index: 1; /* Ensure it's behind the navbar */
}

/* Optional: Adding a subtle texture */
.result__background-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../Image/45-degree-fabric-dark.png');
    opacity: 0.4;
    pointer-events: none;
    z-index: 1;
  }

.result__scroll-container {
    scroll-snap-type: y mandatory; /* Enable vertical snapping */
    overflow-y: scroll; /* Allow vertical scrolling */
    height: 100vh; /* Full viewport height */
    scroll-padding-top: 10px; /* Account for fixed navbar height when snapping */
    margin: 0; /* Remove any margins causing issues */
}

.result__scroll-section {
    scroll-snap-align: start; /* Snap to the start of the section */
    height: 100vh; /* Each section fills the viewport */
    width: 100vw;
    padding: 2px; /* Add some padding for content */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    box-sizing: border-box; /* Include padding in height calculation */
    scroll-margin-top: 40px; /* Create space above each section for fixed navbar */
}

.result__scroll-section:last-child {
    margin: 0;
    scroll-margin-top: 0; /* If you need to reset this as well */
}


.result__scroll-section > * {
    width: 100%; /* Ensure children respect the section width */
    height: 50vh;
}

